.blog, .single {
    .site-main {
      margin: auto;
      padding: 0 1rem;

      h2 a {
        text-decoration: none;
      }
  
      header {
        display: block;
        unicode-bidi: isolate;
  
        h2 {
          font-size: 1.5em;
        }
 
      }

      
  
      img {
        max-height: 3500px;
        object-fit: cover;
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }
  

  @media (min-width: 64em) {
    .blog, .single {
      .site-main {
        max-width: 1400px; 
        margin: 2rem auto; 
      }
    }
  }
  