.site-main-staff {
  h2 {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }

  h3 {
    margin: 1rem 2rem;
  }

  p {
    margin: 1rem 2rem;
  }

  @media (min-width: 48em) { 
      margin: 0 6em; 
    .staff-section {
      display: flex;
      justify-content: space-between;
    }

    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    
  }
}
