

#colophon {
  background-color: $footer-bg-color;  
  color: $text-color;  
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;

   .footer-credits {
    margin-bottom: 20px;

    h2 {
      color: $text-color;
      font-size: 16px;
      font-weight: bold;
    }

    a {
      color: $link-color;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

   .footer-nav {
    margin-top: 10px;

    h2 {
      color: $text-color;
      font-size: 16px;
      font-weight: bold;
    }

    a {
      color: $link-color;
      text-decoration: none;
      font-size: 14px;
      display: block;

      &:hover {
        color: $link-hover-color;
      }
    }
    

.menu, .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul {
  display: contents; 
}

.menu li {
  display: contents; 
}
 




  }

   #footer-logo img {
    width: 150px;
    height: 150px;
  }

   .menu-footer-left-container {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 15px;

        a {
          color: $link-color;
          text-decoration: none;

          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .site-footer {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1fr);
  }
}