/* General header styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: $color__text-input-focus; 
    color: $color__background-body; 
}

.site-branding {
    flex-grow: 1;
    padding-left: 1rem; 

    .site-title {
        margin: 0;
        font-size: 1.5rem;

        a {
            color: $color__background-body;
            text-decoration: none;
        }
    }
}

/* Main navigation styles */
.main-navigation {
    display: none; 
    width: 100%;

    &.toggled {
        display: block; 
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $color__text-input-focus; 
        width: 100%;

        li {
            margin: 0;
            border-bottom: 1px solid $color__text-main; 
            background-color: $color__text-input-focus; 

            a {
                display: block;
                padding: 1rem;
                color: $color__background-body; 
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;

                &:hover,
                &:focus {
                    background-color: $color__text-screen;
                }
            }

            &.current-menu-item > a {
                background-color:$color__link;
                color: $color__background-body;
            }

            
            &:not(:last-child) {
                border-bottom: 1px solid $color__text-main; 
            }
        }
    }
}

.main-navigation ul li a {
    height: auto;
    line-height: 1.5; 
}

.menu-toggle {
    display: block;
    background-color: $color__text-input-focus;
    color: $color__background-body;
    border: 2px solid $color__background-ins;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;

    svg {
        fill: $color__background-body;
    }

    @media screen and (min-width: 768px) {
        display: none; 
    }
}

/* Desktop navigation */
@media screen and (min-width: 768px) {
    .main-navigation {
        display: flex; 
        justify-content: center;

        ul {
            display: flex;
        }

        li {
            a {
                padding: 1rem 2rem; 
            }
        }
    }
}
